/* Wei-Ting Lin - weiting.dev@gmail.com */

body, html {
	height: 100%;
    font-family: 'Quicksand', sans-serif;
    color: #563A34;
    line-height: 2;
    letter-spacing: 0.10em;
    text-align: center;
    overflow-x: hidden;
}

section {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 75px;
}

#portfolio {
	width: 99%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 75px;
}

h1 {
	font-family: 'Press Start 2P', sans-serif;
	font-size: 1.5em;
	padding: 20px 0 10px;
}

h2 {
	font-size: 1.25em;
	font-weight: bold;
	padding: 0 0 20px;
}

h3 {
	font-weight: bold;
	padding: 20px 0;
}

.transparent {
	opacity: 0.98;
}

ul li {
	list-style-type: none;
}

.lato {
	font-family: 'Lato', sans-serif;
}

.roboto {
	font-family: 'Roboto', sans-serif;
}

.berkshire {
	font-family: 'Berkshire Swash', sans-serif;
}


/* Colour Palettes */
.color-block {
  padding: 15px;
  text-align: center;
  color: #fff;
}

.grey {
	background: #48525E;
}

.darkblue {
	background: #2B6491;
}

.blue {
	background: #06B7C7;
}

.orange {
	background: #F8373A;
}

.yellow {
	background: #F2C301;
}


/* Links */
a, 
a:visited, 
a:active {
    color: #659EB4;
    text-decoration: none;
}

a:hover {
    color: #2C333C;
    text-decoration: none;
}

.navbar-nav li {
	padding: 0.25em 1em;
}

#topBtn {
	display: none;
	position: fixed;
	bottom: 0;
	right: 15px;
	z-index: 99;
	border: none;
	cursor: pointer;
	background-color: #eee;
	width: 50px;
	height: 45px;
	border-radius: 10px 10px 0 0;
	font-size: 1.5em;
}

#validator {
	font-size: 0.5em;
	float: right;
}


/* Images */
.hero {
    background-image: url("../img/fairy-tale-1180922.png");
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.projects img {
	opacity: 1;
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	border: none;
}

.projects img:hover {
	opacity: 0.5;
}


/* Footer */
footer {
	border-top: solid 1px #ddd;
    padding-top: 2em;
}

footer div {
    display: flex;
    justify-content: center;
}

.fa, 
.fa:visited, 
 .fa:active {
	color: #FFAEC9;
    text-decoration: none;
    padding: 0.5em 0.25em;
}

.fa:hover {
    color: #2C333C;
}

.copyright {
	font-size: 0.75em;
}


/* Media Queries */
@media only screen and (max-device-width: 1024px) {
    .hero {
        background-attachment: scroll;
        background-position: left;
        margin-left: -1em;
        min-height: 50vh;
    }
}