/* Wei-Ting Lin - weiting.dev@gmail.com */
@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Actor");
body, html {
  font: 100% "Quicksand", sans-serif;
  color: #563A34;
  height: 100%;
  line-height: 2;
  letter-spacing: 0.10em; }

nav {
  background-color: #F2F3F4;
  opacity: 0.90; }
  nav a.active {
    background-color: rgba(0, 0, 0, 0.1); }

a {
  color: #2899C0; }
  a:visited {
    color: #2899C0; }
  a:hover {
    color: #2C333C; }
  a:active {
    color: #2899C0; }

.fa {
  color: #FFAEC9; }
  .fa:visited {
    color: #FFAEC9; }
  .fa:hover {
    color: #2C333C; }
  .fa:active {
    color: #FFAEC9; }

.ml16 {
  font-family: Roboto Condensed, sans-serif;
  color: #fff;
  padding: 40px 0;
  font-weight: 800;
  font-size: 4em;
  letter-spacing: 0.3em;
  overflow: hidden; }

.header-subtext {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-weight: 200;
  font-size: 1.25em;
  letter-spacing: 0.4em; }

.ml16 .letter {
  display: inline-block;
  line-height: 1em; }

.make-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.make-center-bottom {
  position: absolute;
  top: 95%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff; }

.fa {
  text-decoration: none;
  padding: 0.5em 0.25em; }

.hero {
  background-image: url("../img/2018_0715.jpg");
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.copyright {
  font-size: 0.75em; }

.btn {
  color: #659EB4;
  background-color: #fff; }

.btn:active {
  background-color: #fff; }

.btn:focus {
  background-color: #fff; }

#topBtn {
  display: none;
  background-color: #2899C0;
  color: #fff;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: none;
  border-radius: 10px 10px 0 0; }

mark {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em; }

.modal {
  top: 0 !important;
  width: 100%;
  height: 100%;
  max-height: 100vh; }

img.profile-photo {
  max-width: 40%; }

.modal-close {
  position: absolute;
  top: 15px;
  right: 12px;
  font-size: 1.75em; }

@media (min-width: 768px) and (max-width: 1023px) {
  .ml16 {
    font-family: Roboto Condensed, sans-serif;
    color: #fff;
    padding: 20px 0;
    font-weight: 800;
    font-size: 2em;
    letter-spacing: 0.2em;
    overflow: hidden; }

  .header-subtext {
    font-family: Roboto, sans-serif;
    color: #fff;
    font-weight: 200;
    font-size: 1em;
    letter-spacing: 0.4em; } }
div#charhero {
  background-image: url("../projects/charandchew/img/hero.jpg");
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

section#charandchew-design .playfair-display {
  font-family: 'Playfair Display', serif;
  font-size: 1.5em; }
section#charandchew-design .source-sans-pro {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.35em; }
section#charandchew-design .roboto {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1.25em; }
section#charandchew-design .palette1 {
  height: 50px;
  width: 50px;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6%; }
section#charandchew-design .palette2 {
  height: 50px;
  width: 50px;
  background-color: #A5A5A5;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6%; }
section#charandchew-design .palette3 {
  height: 50px;
  width: 50px;
  background-color: #06B7C7;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6%; }
section#charandchew-design .palette4 {
  height: 50px;
  width: 50px;
  background-color: #2BAFB9;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6%; }

div#cozyhero {
  background-image: url("../projects/cozy/img/hero2.jpg");
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

section#cozy-design .berkshire {
  font-family: 'Berkshire Swash', cursive;
  font-size: 1.5em; }
section#cozy-design .lato {
  font-family: 'Lato', sans-serif;
  font-size: 1.35em; }
section#cozy-design .roboto {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1.25em; }
section#cozy-design .palette1 {
  height: 50px;
  width: 50px;
  background-color: #48525E;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6%; }
section#cozy-design .palette2 {
  height: 50px;
  width: 50px;
  background-color: #2B6491;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6%; }
section#cozy-design .palette3 {
  height: 50px;
  width: 50px;
  background-color: #06B7C7;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6%; }
section#cozy-design .palette4 {
  height: 50px;
  width: 50px;
  background-color: #F8373A;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6%; }
section#cozy-design .palette5 {
  height: 50px;
  width: 50px;
  background-color: #F2C301;
  border-radius: 50%;
  display: inline-block; }

div#tfhaphero {
  background-image: url("../projects/tfhap/img/hero.jpg");
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

section#tfhap-design .lato {
  font-family: 'Lato', sans-serif;
  font-size: 1.35em; }
section#tfhap-design .palette1 {
  height: 50px;
  width: 50px;
  background-color: #222222;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6%; }
section#tfhap-design .palette2 {
  height: 50px;
  width: 50px;
  background-color: #5E5E5E;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6%; }
section#tfhap-design .palette3 {
  height: 50px;
  width: 50px;
  background-color: #D5D5D5;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6%; }
section#tfhap-design .palette4 {
  height: 50px;
  width: 50px;
  background-color: #AF885F;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6%; }

div#genalabhero {
  background-image: url("../projects/genalab/img/hero.jpg");
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

section#genalab-design .actor {
  font-family: 'Actor', sans-serif;
  font-size: 1.35em; }
section#genalab-design .verdana {
  font-family: 'Verdana', sans-serif; }
section#genalab-design .palette1 {
  height: 50px;
  width: 50px;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6%; }
section#genalab-design .palette2 {
  height: 50px;
  width: 50px;
  background-color: #666666;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6%; }
section#genalab-design .palette3 {
  height: 50px;
  width: 50px;
  background-color: #E3F3FF;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6%; }
section#genalab-design .palette4 {
  height: 50px;
  width: 50px;
  background-color: #3333FF;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6%; }

/*# sourceMappingURL=styles.css.map */