/* Wei-Ting Lin - weiting.dev@gmail.com */

body {
    font-family: 'Quicksand', sans-serif;
    color: #563A34;
    line-height: 2;
    letter-spacing: 0.10em;
    padding-top: 70px;
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
}

h1 {
	font-family: 'Press Start 2P', sans-serif;
}

h2 {
	font-weight: bold;
}

#copyright {
	font-size: 0.75em;
}


/* Links */
a {
    color: #659EB4;
    text-decoration: none;
}

a:visited {
    color: #659EB4;
    text-decoration: none;
}

a:hover {
    color: #2C333C;
    text-decoration: none;
}

a:active {
    color: #659EB4;
    text-decoration: none;
}

.navbar-nav li {
	padding: 0.25em 1em;
}

#validator {
	font-size: 0.5em;
	float: right;
}


/* Images */
.projects {
	max-width: 100%;
	padding: 1em 0;
}


/* Footer */
footer {
	border-top: solid 1px #ddd;
    padding-top: 2em;
    overflow: hidden;
}

footer div {
    display: flex;
    justify-content: center;
}

.fa {
	color: #FFAEC9;
    text-decoration: none;
    padding: 0.5em 0.25em;
}

.fa:visited {
    color: #FFAEC9;
}

.fa:hover {
    color: #2C333C;
}

.fa:active {
    color: #FFAEC9;
}
