/* Wei-Ting Lin - weiting.dev@gmail.com */

body {
    font-family: 'Quicksand', sans-serif;
    color: #563A34;
    line-height: 2;
    letter-spacing: 0.10em;
    padding: 70px 70px 0 70px;
    text-align: center;
}

h1 {
	font-family: 'Press Start 2P', sans-serif;
	font-size: 1.5em;
	padding: 20px 0 10px;
}

h2 {
	font-size: 1.25em;
	font-weight: bold;
	padding: 0 0 20px;
}

h3 {
	font-weight: bold;
	padding: 0 0 20px;
}

.transparent {
	opacity: 0.98;
}


/* Links */
a, 
a:visited, 
a:active {
    color: #659EB4;
    text-decoration: none;
}

a:hover {
    color: #2C333C;
    text-decoration: none;
}

.navbar-nav li {
	padding: 0.25em 1em;
}

#topBtn {
	display: none;
	position: fixed;
	bottom: 0;
	right: 15px;
	z-index: 99;
	border: none;
	cursor: pointer;
	background-color: #eee;
	width: 50px;
	height: 45px;
	border-radius: 10px 10px 0 0;
	font-size: 1.5em;
}

#validator {
	font-size: 0.5em;
	float: right;
}


/* Images */
.hero {
	max-width: 100%;
}

.projects img {
	opacity: 1;
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.projects img:hover {
	opacity: 0.5;
}


/* Footer */
footer {
	border-top: solid 1px #ddd;
    padding-top: 2em;
}

footer div {
    display: flex;
    justify-content: center;
}

.fa, 
.fa:visited, 
 .fa:active {
	color: #FFAEC9;
    text-decoration: none;
    padding: 0.5em 0.25em;
}

.fa:hover {
    color: #2C333C;
}

.copyright {
	font-size: 0.75em;
}