/* Wei-Ting Lin - weiting.dev@gmail.com */
@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Roboto");
body, html {
  font: 100% "Quicksand", sans-serif;
  color: #563A34;
  height: 100%;
  line-height: 2;
  letter-spacing: 0.10em; }

nav {
  background-color: #F2F3F4;
  opacity: 0.90; }
  nav a.active {
    background-color: rgba(0, 0, 0, 0.1); }

a {
  color: #2899C0; }
  a:visited {
    color: #2899C0; }
  a:hover {
    color: #2C333C; }
  a:active {
    color: #2899C0; }

.fa {
  color: #FFAEC9; }
  .fa:visited {
    color: #FFAEC9; }
  .fa:hover {
    color: #2C333C; }
  .fa:active {
    color: #FFAEC9; }

.ml16 {
  font-family: Roboto Condensed, sans-serif;
  color: #fff;
  padding: 40px 0;
  font-weight: 800;
  font-size: 4em;
  letter-spacing: 0.5em;
  overflow: hidden; }

.header-subtext {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-weight: 200;
  font-size: 1.25em;
  letter-spacing: 0.4em; }

.ml16 .letter {
  display: inline-block;
  line-height: 1em; }

.make-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.make-center-bottom {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff; }

.fa {
  text-decoration: none;
  padding: 0.5em 0.25em; }

.hero {
  background-image: url("../img/2018_0715.jpg");
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.copyright {
  font-size: 0.75em; }

.btn {
  color: #659EB4;
  background-color: #fff; }

.btn:active {
  background-color: #fff; }

.btn:focus {
  background-color: #fff; }

#topBtn {
  display: none;
  background-color: #2899C0;
  color: #fff;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: none;
  border-radius: 10px 10px 0 0; }

mark {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em; }

div#cozyhero {
  background-image: url("../projects/cozy/img/hero2.jpg");
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

section#project-design .berkshire {
  font-family: 'Berkshire Swash', cursive;
  font-size: 1.5em; }
section#project-design .lato {
  font-family: 'Lato', sans-serif;
  font-size: 1.35em; }
section#project-design .roboto {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1.25em; }
section#project-design .palette1 {
  height: 50px;
  width: 50px;
  background-color: #48525E;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6%; }
section#project-design .palette2 {
  height: 50px;
  width: 50px;
  background-color: #2B6491;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6%; }
section#project-design .palette3 {
  height: 50px;
  width: 50px;
  background-color: #06B7C7;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6%; }
section#project-design .palette4 {
  height: 50px;
  width: 50px;
  background-color: #F8373A;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6%; }
section#project-design .palette5 {
  height: 50px;
  width: 50px;
  background-color: #F2C301;
  border-radius: 50%;
  display: inline-block; }

section#introduction .modal-full {
  z-index: 100;
  top: 0;
  min-width: 100%;
  min-height: 95%;
  padding: 4% 1% 0% 1%; }
section#introduction img.profile-photo {
  max-width: 40%; }
section#introduction .modal-close {
  position: absolute;
  top: 15px;
  right: 12px;
  font-size: 1.75em; }

/*# sourceMappingURL=styles.css.map */