body, html {
	font: 100% $base-font;
	color: $bg-color;
	height: 100%;
	line-height: 2;
    letter-spacing: 0.10em;
}

nav {
	background-color: #F2F3F4;
	opacity: 0.90;

	a.active {
		background-color: rgba(0, 0, 0, 0.1);
	}
}

@include links(#2899C0, #2899C0, #2C333C, #2899C0);
@include sm-links(#FFAEC9, #FFAEC9, #2C333C, #FFAEC9);

.ml16 {
	font-family: 'Roboto Condensed', sans-serif;
	color: $white;
	padding: 40px 0;
	font-weight: 800;
	font-size: 4em;
	letter-spacing: 0.3em;
	overflow: hidden;
}

.header-subtext {
	font-family: 'Roboto', sans-serif;
	color: $white;
	font-weight: 200;
	font-size: 1.25em;
	letter-spacing: 0.4em;
}

.ml16 .letter {
	display: inline-block;
	line-height: 1em;
}

.make-center {
	@include make-center;
}

.make-center-bottom {
	@include make-center-bottom;
	color: $white;
}

.fa {
	text-decoration: none;
    padding: 0.5em 0.25em;
}

.hero {
    background-image: url("../img/main-hero.png");
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-container {
	height: 400px;
}

section {
	margin: 50px 0;
}

.extra-padding {
	margin: 50px 0;
}

.btn {
	color: #659EB4;
	background-color: $white;
}
.btn:active {
	background-color: $white;
}
.btn:focus {
	background-color: $white;
}

#topBtn {
	display: none;
	background-color: #2899C0;
	color: $white;
	position: fixed;
	bottom: 0;
	right: 15px;
	border: none;
	border-radius: 10px 10px 0 0;
}

mark {
	display: inline-block;
	line-height: 0em;
	padding-bottom: 0.5em;
}

.modal {
	top: 0 !important;
	width: 100%;
	height: 100%;
	max-height: 100vh;
}

.modal-close {
	position: absolute;
	top: 15px;
    right: 12px;
    font-size: 1.75em;
}

.copyright {
	font-size: 0.75em;
}

.page-footer {
	color: #E8E8E8;
	background-color: #1F4D64;
}

img.profile-photo {
	max-width: 40%;
}

#portfolio {
	margin-bottom: 100px;
}
