@mixin tablet {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    	.ml16 {
			font-family: Times New Roman, serif;
			color: $white;
			padding: 20px 0;
			font-weight: 300;
			font-size: 1em;
			letter-spacing: 0em;
			overflow: hidden;
		}
		.header-subtext {
			font-family: Times New Roman, serif;
			color: $white;
			font-weight: 200;
			font-size: 1em;
			letter-spacing: 0.4em;
		}
		.parallax-container {
			height: 175px;
		}
	}
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

@mixin links($link, $visited, $hover, $active) {
	a {
		color: $link;
		&:visited {
			color: $visited;
		}
		&:hover {
			color: $hover;
		}
		&:active {
			color: $active;
		}
	}
}

@mixin sm-links($link, $visited, $hover, $active) {
	.fa {
		color: $link;
		&:visited {
			color: $visited;
		}
		&:hover {
			color: $hover;
		}
		&:active {
			color: $active;
		}
	}
}

@mixin make-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin make-center-bottom {
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-50%, -50%);
}