div#cozyhero {
    background-image: url("../projects/cozy/img/hero2.jpg");
}

section#cozy-design {
	.berkshire {
		font-family: 'Berkshire Swash', cursive;
		font-size: 1.5em;
	}
	.lato {
		font-family: 'Lato', sans-serif;
		font-size: 1.35em;
	}
	.roboto {
		font-family: 'Roboto', sans-serif;
		text-transform: uppercase;
		font-size: 1.25em;
	}
	.palette1 {
		background-color: #48525E;
	}
	.palette2 {
		background-color: #2B6491;
	}
	.palette3 {
		background-color: #06B7C7;
	}
	.palette4 {
		background-color: #F8373A;
	}
	.palette5 {
		background-color: #F2C301;
	}
}