div#genalabhero {
    background-image: url("../projects/genalab/img/hero.jpg");
}

section#genalab-design {
	.actor {
		font-family: 'Actor', sans-serif;
		font-size: 1.35em;
	}
	.verdana {
		font-family: 'Verdana', sans-serif;
	}
	.palette1 {
		background-color: #000000;
	}
	.palette2 {
		background-color: #666666;
	}
	.palette3 {
		background-color: #E3F3FF;
	}
	.palette4 {
		background-color: #3333FF;
	}
}