div#portfoliohero {
    background-image: url("../projects/portfolio/img/hero.png");
}

section#portfolio-design {
	.lato {
		font-family: 'Roboto', sans-serif;
		font-size: 1.5em;
	}
	.roboto {
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 1.35em;
	}
	.palette1 {
		background-color: #2C333C;
	}
	.palette2 {
		background-color: #563A34;
	}
	.palette3 {
		background-color: #E4E4E4;
	}
	.palette4 {
		background-color: #2899C0;
	}
	.palette5 {
		background-color: #FFAEC9;
	}
	.palette6 {
		background-color: #FFFF00;
	}
}