div#tfhaphero {
    background-image: url("../projects/tfhap/img/hero.jpg");
}

section#tfhap-design {
	.lato {
		font-family: 'Lato', sans-serif;
		font-size: 1.35em;
	}
	.palette1 {
		background-color: #222222;
	}
	.palette2 {
		background-color: #5E5E5E;
	}
	.palette3 {
		background-color: #D5D5D5;
	}
	.palette4 {
		background-color: #AF885F;
	}
}